* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: #f0f0f0;
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 42px;
    color: #eadede;
    margin-left: 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #f0f0f0;
}

img {
    display: block;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #6e2a85;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
    padding: 0 30px;
}

.nav-list {
    display: flex;
    margin-right: 30px;
}

.nav-list a {
    display: block;
    font-size: 25px;
    padding: 20px;
}

.nav-list a:hover {
    background: #7ea3bc;
    text-decoration: underline;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
}

.welcome-section>p {
    font-size: 30px;
    font-weight: 200;
    font-style: italic;
    color: #6e2a85;
}

.projects-section {
    text-align: center;
    padding: 100px 20px;
    background: #a86bb9;
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 60px auto;
    border-bottom: 2px solid #f0f0f0;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 40px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.project {
    background: #000000;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.code {
    color: #000000;
    transition: color 0.3s ease-out;
}

.project:hover .code {
    color: #6e2a85;
}

.project-image {
    height: calc(100% - 68px);
    width: 100%;
    object-fit: cover;
}

.project-title {
    font-size: 20px;
    padding: 20px 5px;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000000;
}

.contact-section-header {
  width: 80%;
  max-width: 650px; 
  margin: 0 auto 60px;
  border-bottom: 2px solid #f0f0f0;
  text-align: center;
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #000;
    border-top: 4px solid #6e2a85;
}

footer>p {
    margin: 20px;
}

footer i {
    vertical-align: middle;
}

footer a href {
    text-decoration: underline;
}